*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/tasks.xml
/.idea/name.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/scopes/scope_settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
